<h1>Listing seminars</h1>

    <div id="condition-cards" class="clearfix">
      <%= form_tag seminars_path, :method => 'get' do %>
      <div id="keyword">
        <dl class="clearfix">
          <dt><%= text_field_tag :search, params[:search] %></dt>
          <dd><%= submit_tag "検索", :name => nil %></dd>
        </dl>
      </div>
      <% end %>
    </div>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seminars.each do |seminar| %>
      <tr>
        <td><%= seminar.summary %></td>
        <td><%= link_to 'Show', seminar %></td>
        <td><%= link_to 'Edit', edit_seminar_path(seminar) %></td>
        <td><%= link_to 'Destroy', seminar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seminar', new_seminar_path %>
