<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @product.tag %>
</p>

<p>
  <strong>Tag1:</strong>
  <%= @product.tag1 %>
</p>

<p>
  <strong>Tag2:</strong>
  <%= @product.tag2 %>
</p>

<p>
  <strong>Tag3:</strong>
  <%= @product.tag3 %>
</p>

<p>
  <strong>Tag4:</strong>
  <%= @product.tag4 %>
</p>

<p>
  <strong>Tag5:</strong>
  <%= @product.tag5 %>
</p>

<p>
  <strong>Tag6:</strong>
  <%= @product.tag6 %>
</p>

<p>
  <strong>Tag7:</strong>
  <%= @product.tag7 %>
</p>

<p>
  <strong>Tag8:</strong>
  <%= @product.tag8 %>
</p>

<p>
  <strong>Tag9:</strong>
  <%= @product.tag9 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
